@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
}
::-webkit-scrollbar{
    width: 3px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ddd;
}
::-webkit-scrollbar-thumb:hover{
    background: #ccc;
}
.chat-bar-collapsible {
    position: fixed;
    bottom: -4px;
    right: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.chat-bar-collapsible .wrapper .collapsible {
    background-image:url(Liston1.png);
    background-repeat: no-repeat;
    height: 80px;
    width: 350px;
    background-position: center;
    cursor: pointer;
    border-radius: 50px;
    border: 0px solid white;
    opacity: 85%;

}
#chat-icon:hover {
    opacity: .7;
}

.chat-bar-collapsible .wrapper{
    width: 350px;
    background: rgb(223, 253, 238);
    border-radius: 5px;
    border: 0px solid rgb(223, 253, 238);;
    border-top: 0px;
}
.wrapper .form{
    padding: 20px 15px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
    background-color: rgb(223, 253, 238);
    border: 3px solid  rgb(223, 253, 238);;
    border-radius: 5px 5px 0 0;
}
.wrapper .form .inbox{
    width: 100%;
    display: flex;
    align-items: baseline;
}
.wrapper .form .usuario-inbox{
    justify-content: flex-end;
    margin: 13px 0;
}
.wrapper .form .inbox .icon{
    height: 40px;
    width: 40px;
    color: rgb(9, 160, 160);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 18px;
    background: rgb(150, 255, 150);
}
.wrapper .form .inbox .msg-header{
    max-width: 53%;
    margin-left: 10px;
}
.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    opacity: 75%;
}
.botText {
    color:  #fdfdfd;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
}
.botText span {
    line-height: 1.5em;
    display: inline-block;   
    background:  rgba(49, 230, 4, 0.705);
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards;
}
.userText {
    color:  whitesmoke ;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
}
.userText span {
    line-height: 1.5em;
    display: inline-block;
    background:  dodgerblue;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards
}

.wrapper .typing-field{
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background: rgb(195, 255, 225);
    border-top: 1px solid rgb(166, 252, 209);
    border-radius: 0 0 5px 5px;
}
.wrapper .typing-field .input-data{
    height: 40px;
    width: 335px;
    position: relative;
    
}
.wrapper .typing-field .input-data input{
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid transparent;
    padding:  0 80px 0 15px;
    border-radius: 3px;
    font-size: 15px;
    background: rgb(223, 253, 238);
    transition: all 0.3s ease;
}
.typing-field .input-data input:focus{
    border-color: rgba(0,123,255,0.8);
}
.input-data input::placeholder{
    color: rgba(122, 155, 155, 0.808);
    transition: all 0.3s ease;
}
.input-data input:focus::placeholder{
    color: rgb(8, 146, 146);;
}
.wrapper .typing-field .input-data button{
    position: absolute;
    right: 5px;
    top: 50%;
    height: 30px;
    width: 65px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    background: #007bff;
    border: 1px solid #007bff;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.wrapper .typing-field .input-data input:valid ~ button{
    opacity: 1;
    pointer-events: auto;
}
.typing-field .input-data button:hover{
    background: #006fef;
}
.option{
    height: 30px;
    width: 100px;
    border-radius: 8px;
    margin: 0 5px;

}
.catg:hover{
    background-color: rgb(217, 255, 0);
    cursor: pointer;
}
.catg{
    height: 30px;
    width: 100px;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
    background-color: #00ef00;
    border: none;
    border-radius: 10px;
}
.cont-catg{
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    position: absolute;
    top: 320px;
    left: 65px;
    height: 170px;
    width: 250px;
    text-align: center;
    }